@CHARSET "UTF-8";

body,html {
/* 	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden; */
}

#canvas{
/* 	background-image: url("../images/DashBoard/Background.jpg");
	background-size : 100% 100%;  */
	 
}
#video{
	position: absolute;
	top: 101px;
	left: 10px;
	border-radius : 10px;	
}
 #time{
	position: absolute;
	top: 170px;
	right: 50px;	
	font-size : 30px;
	color: white;
} 
#logo{
	position: absolute;
	top: 170px;
	right: 60px;	
}
 #date{
	position: absolute;
	top: 170px;
	right: 250px;	
	font-size : 30px;
	color: white;
} 
#alarm_line{
	position: absolute;
	width:100%;
	top: 700px;
	display: none;	
	z-index: 999;
}